<h1>sign IN</h1>

<form action="/users/create-session" method="POST">
     <input type="email" name="email"  placeholder="user name" required>
     <input type="password" name="password" placeholder="password" required>
     <input type="submit" value="sign In">
      
</form>


<p>
     <a href="/users/auth/google">Google sign In/Sign Up</a>
</p>

<p>
     <a href="/users/forgot-password">Forgot password?</a>
</p>

